name: spellcheck
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
jobs:
  check-spelling:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check Spelling
        uses: rojopolis/spellcheck-github-actions@0.33.1
        with:
          config_path: .spellcheck.yml
          task_name: Markdown
